*
  box-sizing: border-box
  margin: 0
  padding: 0

@font-face
  font-family: "hkgrotesk-regular", "hkgrotesk-medium", "hkgrotesk-bold"
  src: url ("../fonts/hkgrotesk-regular.woff") (format "woff"),
  url ("../fonts/hkgrotesk-regular.woff2") (format "woff2")
  font-weight: 400
  font-style: normal
  src: url ("../fonts/hkgrotesk-medium.woff")  (format "woff"),
  url ("../fonts/hkgrotesk-medium.woff2")  (format "woff2")
  font-weight: 500
  font-style: normal
  src: url ("../fonts/hkgrotesk-bold.woff") (format "woff"),
  url ("../fonts/hkgrotesk-bold.woff2")  (format "woff2")
  font-weight: 700
  font-style: normal

body
  font-family: "Open Sans", sans-serif

.container
  max-width: 1280px
  margin: auto
  border: 1px solid grey

.navbar
  font-family: Open Sans
