.hero
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 120px
  &-container
    width: 1280px
    height: 700px
  &-wrapper
    // background-image: url(../img/hero/Image2.png)
    border: 1px solid red
    width: 100%
    height: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between

    &__image
      // width: 100%
      // height: 700px

    &__content
      border: 1px solid green
      width: 652px
      // height: 400px
      position: absolute
      display: flex
      flex-direction: column
      align-items: start
      justify-content: space-between
      // z-index: 99
      margin: 62px 0 36px 107px
      z-index: 99

      &_frame
        border: 1px solid blue
        display: flex
        flex-direction: column
        align-items: start
        justify-content: space-between
        height: 400px

        &_label
          width: 175px
          height: 32px
          background: rgba(54, 179, 126, 0.1)
          border-radius: 2000px
          border: none
          cursor: pointer

          &_text
            font-family: Open Sans
            font-style: normal
            font-weight: 600
            font-size: 14px
            line-height: 20px
            text-align: center
            color: #36B37E

        &_title
          margin: 0
          font-family: HKGrotesk-Bold
          font-style: normal
          font-weight: normal
          font-size: 56px
          line-height: 68px
          color: #183B56

        &_text
          margin: 0
          font-family: Open Sans
          font-style: normal
          font-weight: normal
          font-size: 20px
          line-height: 36px
          color: #5A7184

      &_button
        margin-top: 52.5px
        padding: 15px 40px
        width: 259px
        left: 107.5px
        top: 73.5%
        bottom: 18.64%
        background: #183B56
        border-radius: 8px
        border: none
        cursor: pointer

        &_text
          font-family: Open Sans
          font-style: normal
          font-weight: bold
          font-size: 18px
          line-height: 25px
          text-align: center
          color: #FFFFFF
    &__frame
      position: relative
      width: 100%
      height: 700px
      overflow: hidden

      &_gradient
      &_photo
        // background: linear-gradient(270deg, rgba(238, 238, 238, 0.0001) 67.34%, #E8EAE9 100%)
        // object-fit: cover
        // width: 700px
        height: auto
        // position: absolute
        // left: 27.97%
        // right: -11.88%
        // top: -53.86%
        // bottom: -76.71%
        // z-index: 1
        // visibility: hidden
      &_background
        // opacity: none
        // position: absolute
        // border-radius: 8px
        // background: #E8EAE9

  &-box
    width: 464px
    height: 36px
    padding: 0px
    margin-top: 48.5px
    // position: absolute
    &__item
      list-style-type: none
      display: flex
      align-items: end
      justify-content: space-between

      &_link
        display: flex
        align-items: center
        justify-content: center

        &_text
          font-family: HKGrotesk-Medium
          font-style: normal
          font-weight: 500
          font-size: 16px
          line-height: 20px
          color: #183B56

      &_icon
        width: 36px
        height: 36px
        margin-right: 8px
        border-radius: 12px
        border: 0.75px solid #1565D8
        padding: 7.5px 7.5px

@media ( max-width: 1200px )
  .hero
    margin-bottom: 80px
    &-container
      // width: 1160px
      width: 96%
      height: 624px

    &-wrapper

      &__frame
        width: 100%
        height: 624px
        &_photo
          width: 100%
          height: 624px
          object-fit: cover

      &__content
        width: 407px
        height: 384px
        margin: 36px 0 204px 28px
        &_frame
          width: 407px
          height: 384px

@media ( max-width: 992px )
  .hero
    margin-bottom: 80px
    &-container
      // width: 952px
      height: 624px

    &-wrapper

      &__frame
        width: 100%
        height: 624px
        &_photo
          width: 100%
          height: 624px
          object-fit: cover

      &__content
        width: 407px
        height: 384px
        margin: 36px 0 204px 28px
        &_frame
          width: 407px
          height: 384px

@media ( max-width: 768px )
  .hero
    margin-bottom: 80px
    &-container
      // width: 728px
      height: 624px

    &-wrapper

      &__frame
        width: 100%
        height: 624px
        &_photo
          width: 100%
          height: 624px
          object-fit: cover

      &__content
        width: 407px
        height: 384px
        margin: 36px 0 204px 28px
        &_frame
          width: 407px
          height: 384px
  //         &_label
  //           &_text
  //         &_title
  //           font-size: 48px
  //           line-height: 60px
  //         &_text
  //           font-size: 18px
  //           line-height: 32px
  //       &_button
  //         &_text
  //   &-box
  //     &__item
  //       &_link
  //         &_text
  //       &_icon
